assets/n8n-workflow.json
{
  "name": "AI Workshop Example",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e55b7795-1043-42e9-8bd2-cdc38f2e30cd",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        -144
      ],
      "id": "d9ab8a6a-ab0b-4098-a1ed-b6113a7eaae8",
      "name": "Webhook",
      "webhookId": "e55b7795-1043-42e9-8bd2-cdc38f2e30cd"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.3-chat-latest",
          "mode": "list",
          "cachedResultName": "GPT-5.3-CHAT-LATEST"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Je bent een order-assistent voor Faber Electronics. Je analyseert binnenkomende bestellingen en genereert twee outputs:\n  1. Een vriendelijke bevestigingsmail voor de klant (in het Nederlands)\n  2. Een interne samenvatting voor het productieteam\n\n  Antwoord altijd in JSON met deze structuur:\n  { \"klant_email_onderwerp\": \"...\", \"klant_email_body\": \"...\", \"productie_samenvatting\": \"...\", \"levertijd_haalbaar\": true/false, \"opmerkingen\": \"...\" }"
            },
            {
              "content": "=Bedrijfsnaam: {{ $json.body.bedrijfsnaam }}\nContactpersoon: {{ $json.body.contactpersoon }}\nEmail: {{ $json.body.email }}\nProduct omschrijving: {{ $json.body.product_omschrijving }}\nAantal: {{ $json.body.aantal }}\nGewenste leverdatum: {{ $json.body.gewenste_leverdatum }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -160,
        -144
      ],
      "id": "e7a990bd-82d6-4161-bbea-15873b416e7a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "tNlMR1R0UbOo96eU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.klant_email_onderwerp }}",
        "message": "={{ $json.klant_email_body }}",
        "options": {
          "sendTo": "={{ $('Webhook').item.json.body.email }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        288,
        -144
      ],
      "id": "08c70a7d-2467-45ea-9743-48ac28fe15ee",
      "name": "Create a draft",
      "webhookId": "5fb156bc-86ca-46b9-a4d0-68f117e2d24d",
      "credentials": {
        "gmailOAuth2": {
          "id": "1wjCaNU0xtHzdPDW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.output[0].content[0].text;\n  const parsed = JSON.parse(response);\n  return [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -144
      ],
      "id": "eefda29e-5e79-4bb7-bc9a-2f8106a6fe7a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Nieuwe bestelling: {{ $('Webhook').item.json.body.bedrijfsnaam }} - {{ $('Webhook').item.json.body.product_omschrijving }}",
        "message": "=Bedrijfsnaam: {{ $('Webhook').item.json.body.bedrijfsnaam }}\nContactpersoon: {{ $('Webhook').item.json.body.contactpersoon }}\nEmail: {{ $('Webhook').item.json.body.email }}\nProduct omschrijving: {{ $('Webhook').item.json.body.product_omschrijving }}\nAantal: {{ $('Webhook').item.json.body.aantal }}\nGewenste leverdatum: {{ $('Webhook').item.json.body.gewenste_leverdatum }}\n\nAI Samenvatting \n{{ $('Code in JavaScript').item.json.productie_samenvatting }}\n\nHaalbaar? {{ $('Code in JavaScript').item.json.levertijd_haalbaar }}\n\nOpmerkingen \n{{ $('Code in JavaScript').item.json.opmerkingen }}",
        "options": {
          "sendTo": "production@faber-electronics.nl"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        496,
        -144
      ],
      "id": "cc15682e-76b0-4289-9483-8cdfa37b347f",
      "name": "Create a draft1",
      "webhookId": "6ab1c7e5-3a52-4b78-95d6-cacca5142d1a",
      "credentials": {
        "gmailOAuth2": {
          "id": "1wjCaNU0xtHzdPDW",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "717d2f23-6717-40ad-a87b-52d9c50c85bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "025a9050422c63665a9979a17f8c77d3d7b5a135986aa87d4c1b12842437fa27"
  },
  "id": "j8K3OMgBLZd9YRhR",
  "tags": []
}