docs/n8n-workflow.json
{
  "name": "Order Intake Automatisering - Faber Electronics Workshop",
  "nodes": [
    {
      "parameters": {
        "formId": "{{MICROSOFT_FORM_ID}}",
        "pollTimes": {
          "item": [
            { "mode": "everyMinute" }
          ]
        }
      },
      "id": "trigger-node",
      "name": "Microsoft Forms Trigger",
      "type": "n8n-nodes-base.microsoftFormsTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "1",
          "name": "Microsoft 365 Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "workbookId": "={{WORKBOOK_ID}}",
        "sheetName": "Orders",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Bedrijfsnaam": "={{ $json.Bedrijfsnaam }}",
            "Contactpersoon": "={{ $json.Contactpersoon }}",
            "Email": "={{ $json.Email }}",
            "Product omschrijving": "={{ $json['Product omschrijving'] }}",
            "Aantal": "={{ $json.Aantal }}",
            "Gewenste leverdatum": "={{ $json['Gewenste leverdatum'] }}"
          }
        }
      },
      "id": "sheets-node",
      "name": "Microsoft Excel 365 - Rij toevoegen",
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2,
      "position": [500, 300],
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "2",
          "name": "Microsoft 365 Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Microsoft Forms Trigger').item.json.Email }}",
        "subject": "=Bevestiging ontvangst aanvraag - {{ $('Microsoft Forms Trigger').item.json.Bedrijfsnaam }}",
        "message": "=Beste {{ $('Microsoft Forms Trigger').item.json.Contactpersoon }},\n\nBedankt voor uw aanvraag. Wij hebben de volgende gegevens ontvangen:\n\nBedrijf: {{ $('Microsoft Forms Trigger').item.json.Bedrijfsnaam }}\nProduct: {{ $('Microsoft Forms Trigger').item.json['Product omschrijving'] }}\nAantal: {{ $('Microsoft Forms Trigger').item.json.Aantal }}\nGewenste leverdatum: {{ $('Microsoft Forms Trigger').item.json['Gewenste leverdatum'] }}\n\nWij nemen zo spoedig mogelijk contact met u op.\n\nMet vriendelijke groet,\nFaber Electronics"
      },
      "id": "email-confirm-node",
      "name": "Bevestigingsmail",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [750, 200],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{PRODUCTION_EMAIL}}",
        "subject": "=Nieuwe bestelling - {{ $('Microsoft Forms Trigger').item.json.Bedrijfsnaam }}",
        "message": "=Nieuwe bestelling ontvangen:\n\nBedrijf: {{ $('Microsoft Forms Trigger').item.json.Bedrijfsnaam }}\nContactpersoon: {{ $('Microsoft Forms Trigger').item.json.Contactpersoon }}\nEmail: {{ $('Microsoft Forms Trigger').item.json.Email }}\nProduct: {{ $('Microsoft Forms Trigger').item.json['Product omschrijving'] }}\nAantal: {{ $('Microsoft Forms Trigger').item.json.Aantal }}\nGewenste leverdatum: {{ $('Microsoft Forms Trigger').item.json['Gewenste leverdatum'] }}\n\nActie vereist: controleer beschikbaarheid en plan productie."
      },
      "id": "email-notify-node",
      "name": "Notificatiemail",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [750, 400],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Microsoft Forms Trigger": {
      "main": [
        [
          {
            "node": "Microsoft Excel 365 - Rij toevoegen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Excel 365 - Rij toevoegen": {
      "main": [
        [
          {
            "node": "Bevestigingsmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificatiemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "workshop-demo"
  },
  "tags": [
    { "name": "workshop" },
    { "name": "demo" }
  ]
}