docs/n8n-workflow.json
{
  "name": "Order Intake Automatisering - Workshop Demo",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Order Intake",
        "formDescription": "Vul het formulier in om een bestelling te plaatsen.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Bedrijfsnaam",
              "fieldType": "string",
              "requiredField": true
            },
            {
              "fieldLabel": "Contactpersoon",
              "fieldType": "string",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Product omschrijving",
              "fieldType": "string",
              "requiredField": true
            },
            {
              "fieldLabel": "Aantal",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Gewenste leverdatum",
              "fieldType": "date",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-node",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "workshop-order-intake"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Je bent een professionele klantenservice medewerker. Je ontvangt ordergegevens en genereert twee outputs in JSON formaat: 1) Een beleefde, persoonlijke bevestigingsmail in het Nederlands, 2) Een korte analyse van de bestelling voor het productieteam (urgentie, productcategorie, geschatte complexiteit). Antwoord ALLEEN met valid JSON."
            },
            {
              "role": "user",
              "content": "=Nieuwe bestelling ontvangen:\n\nBedrijfsnaam: {{ $json.Bedrijfsnaam }}\nContactpersoon: {{ $json.Contactpersoon }}\nEmail: {{ $json.Email }}\nProduct omschrijving: {{ $json['Product omschrijving'] }}\nAantal: {{ $json.Aantal }}\nGewenste leverdatum: {{ $json['Gewenste leverdatum'] }}"
            }
          ]
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.3
        }
      },
      "id": "openai-node",
      "name": "OpenAI - Bestelling analyseren",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Bevestiging ontvangst aanvraag - {{ JSON.parse($json.message.content).bevestigingsmail.onderwerp }}",
        "message": "={{ JSON.parse($json.message.content).bevestigingsmail.bericht }}"
      },
      "id": "email-confirm-node",
      "name": "Bevestigingsmail",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [800, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{PRODUCTION_EMAIL}}",
        "subject": "=Nieuwe bestelling - AI Analyse",
        "message": "=Nieuwe bestelling ontvangen en geanalyseerd door AI:\n\n{{ JSON.parse($json.message.content).productie_analyse.samenvatting }}\n\nUrgentie: {{ JSON.parse($json.message.content).productie_analyse.urgentie }}\nProductcategorie: {{ JSON.parse($json.message.content).productie_analyse.productcategorie }}\nGeschatte complexiteit: {{ JSON.parse($json.message.content).productie_analyse.geschatte_complexiteit }}\n\nActie vereist: controleer beschikbaarheid en plan productie."
      },
      "id": "email-notify-node",
      "name": "Notificatiemail",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [800, 400],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "OpenAI - Bestelling analyseren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Bestelling analyseren": {
      "main": [
        [
          {
            "node": "Bevestigingsmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificatiemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "workshop-demo"
  },
  "tags": [
    { "name": "workshop" },
    { "name": "demo" }
  ]
}
