docs/n8n-workflow.json
{
  "name": "Order Intake Automatisering - Workshop Demo",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Order Intake",
        "formDescription": "Vul het formulier in om een bestelling te plaatsen.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Bedrijfsnaam",
              "fieldType": "string",
              "requiredField": true
            },
            {
              "fieldLabel": "Contactpersoon",
              "fieldType": "string",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Product omschrijving",
              "fieldType": "string",
              "requiredField": true
            },
            {
              "fieldLabel": "Aantal",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Gewenste leverdatum",
              "fieldType": "date",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-node",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "workshop-order-intake"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Bevestiging ontvangst aanvraag - {{ $json.Bedrijfsnaam }}",
        "message": "=Beste {{ $json.Contactpersoon }},\n\nBedankt voor uw aanvraag. Wij hebben de volgende gegevens ontvangen:\n\nBedrijf: {{ $json.Bedrijfsnaam }}\nProduct: {{ $json['Product omschrijving'] }}\nAantal: {{ $json.Aantal }}\nGewenste leverdatum: {{ $json['Gewenste leverdatum'] }}\n\nWij nemen zo spoedig mogelijk contact met u op.\n\nMet vriendelijke groet,\nHet team"
      },
      "id": "email-confirm-node",
      "name": "Bevestigingsmail",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [550, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{PRODUCTION_EMAIL}}",
        "subject": "=Nieuwe bestelling - {{ $json.Bedrijfsnaam }}",
        "message": "=Nieuwe bestelling ontvangen:\n\nBedrijf: {{ $json.Bedrijfsnaam }}\nContactpersoon: {{ $json.Contactpersoon }}\nEmail: {{ $json.Email }}\nProduct: {{ $json['Product omschrijving'] }}\nAantal: {{ $json.Aantal }}\nGewenste leverdatum: {{ $json['Gewenste leverdatum'] }}\n\nActie vereist: controleer beschikbaarheid en plan productie."
      },
      "id": "email-notify-node",
      "name": "Notificatiemail",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [550, 400],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Bevestigingsmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificatiemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "workshop-demo"
  },
  "tags": [
    { "name": "workshop" },
    { "name": "demo" }
  ]
}
